<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Home</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>

        </ul>
    </div>
</nav>

<div class="container">
    <div class = "row">
        <div class="col -md-6 col-md-offset-3 col-sm-6 container pt-3 justify-content-center card text-white" style="background-color:#222529">
            <h4 style = "color:white"> Sign In </h4>
                <form th:action="@{/login}" method="post">


                    <div th:if = "${param.logout}">
                        <div class = "alert alert-info">You have been logged out.</div>
                    </div>


                    <div class = "form-group">
                        <label for = "username"> Email: </label>
                        <input type = "text" class = "form-control" id="username" name="username" placeholder="Enter Email ID" autofocus="autofocus">

                    </div>

                    <div class = "form-group">
                        <label for = "password"> Password: </label>
                        <input type = "password" class = "form-control" id="password" name="password" placeholder="Enter Password" autofocus="autofocus">

                    </div>
                    <div th:if="${param.error}">
                        <div class = "alert alert-danger">Invalid email or password.</div>
                    </div>

                    <div class = "form-group">
                        <div class = "row">
                            <div class = "col-sm-6 col-sm-offset-3">
                                <input type = "submit" name = "login-submit"
                                       class = " btn btn-primary" value = "Login"
                                />

                            </div>
                        </div>

                    </div>

                </form>
            <div class = "form-group">
                <span style = "font-size:15px" > New User? <a href="/" th:href = "@{/registration}"> Create an Account</a></span>
            </div>

        </div>
    </div>
</div>
</body>
</html>